body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(228, 224, 225);
}

h1, h2 {
    color:rgb(206, 142, 153);
}

 button {
    padding: 5px;
    margin: 5px 0;
    border-radius: 2rem;
    background-color: rgb(206, 142, 153);
    border: 1px solid white;
    color: rgb(211, 208, 208);
    margin-left: 3rem;
}

input,.original, .doubled {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #000000;
    min-height: 20px;
}