body {
  font-family: Arial, sans-serif;
  background: #efe6de;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(217, 178, 178);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

input, select {
  padding: 8px;
  font-size: 16px;
}

.result {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  background: #f9f9f9;
}